.projects {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  h2 {
    margin: 2rem;
  }
  img {
    margin: 2rem;
  }
}
.Travelly.Elena-Joy {
  flex: 1 1 40rem;
}
